
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yusei+Magic&family=Zen+Maru+Gothic&display=swap');
/* 導入 Bootstrap CSS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
/* 導入 Bootstrap Icons */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

@font-face {
    font-family: 'Taipei Sans'; /* 定義字體名稱 */
    src: url('../fonts/TaipeiSansTCBeta-Bold.ttf') format('truetype'); /* 指定字體檔案和格式 */
    font-weight: normal; /* 可選：指定字體粗細 */
    font-style: normal; /* 可選：指定字體樣式 */
}

body {
    background-color: #f0f0f0;
    font-family: 'Yusei Magic', 'Taipei Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    padding-bottom: 60px; /* 留出導航欄的高度 */
}
body.index {
    background: no-repeat center 60% fixed;
    background-size: 100% auto;
}

body.home {
    background: no-repeat center 60% fixed;
    background-size: 100% auto;
}
body.journal {
    background: no-repeat center 50% fixed;
    background-size: 140% auto;
}

.banner {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #FFC1C2;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.banner h1 {
    margin: 0;
    font-size: 24px;
}
.login-container {
    /* background-color: #fff; */
    position: absolute;
    bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-container input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
.login-container input::placeholder {
    color: rgb(187, 187, 187);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.login-container input:focus::placeholder {
    opacity: 0;
}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #CC6B69;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #a85352;
}
.dialog-box {
    position: absolute;
    top: 3%;
    padding: 20px;
    text-align: center;
}
.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f7dbdc;
    text-align: center;
    padding: 5% 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
    width: 100%;
}
.btn-group {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f7dbdc;
}
.btn-primary {
    width: 25%;
    padding: 20px;
    border: none;
    background-color: #f7dbdc;
    color: #CC6B69;
    font-size: 1.4rem;
}
.btn-primary:hover {
    background-color: #CC6B69;
    color: #f7dbdc;
}
.btn.btn-primary:active {
    background-color: #a85352 !important; /* 強制覆蓋 */
    color: #ffffff !important; /* 強制修改文字顏色 */
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2); /* 點擊時的按壓效果 */
    border-color: #a85352 !important; /* 防止邊框顏色也被影響 */
}
.btn.active {
    background-color: #e0b5b7 !important; /* 當前頁面的背景色 */
    color: #b34846 !important; /* 當前頁面的文字顏色 */
    border: 2px solid #d48887; /* 可選：添加白色邊框 */
    
}
#map {
    height: 87.5vh;
    width: 100%;
    /* background-color: #7EDCF8; */
}
#searchInput {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 前導遮罩樣式 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* 半透明黑色背景 */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 聊天框容器 */
.chat-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 80%;
    font-family: "Yusei Magic", serif;
    position: relative;
}

/* 聊天泡泡 */
.chat-bubble {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* 頭像 */
.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #f0f0f0; /* 預防圖片載入前的背景色 */
    object-fit: cover; /* 確保圖片不變形 */
}

/* 訊息 */
.chat-message {
    background-color: #f9eded;
    color: #333;
    padding: 10px 15px;
    border-radius: 10px;
    position: relative;
    max-width: 70%;
    text-align: left;
}

/* 訊息小尾巴 */
.chat-message:before {
    content: "";
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f9eded;
}

.intro-button {
    background-color: #CC6B69;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.intro-button:hover {
    background-color: #a85352;
}


/* 聚焦在搜索框的遮罩樣式 */
.focus-input {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    z-index: 1001;
    pointer-events: none;
}


#stickerContainer {
    max-height: 25%;
    min-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 52%; /* 調整區塊距離頂部的距離 */
    left: 50%;
    transform: translateX(-50%);
}

.sticker-item {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 6px;
    overflow: hidden;
    cursor: pointer;
}

.sticker-item:hover {
    filter: brightness(0.9);
}

.sticker-item p {
    margin: 1px 0;
    font-size: 8px;
    color: #CC6B69;
}

.sticker-item .sticker-info div {
    font-size: 8px;
    text-align: left;
    margin-bottom: 1px;
}

.sticker-item .sticker-username {
    text-align: right;
    font-size: 8px;
    color: #666;
}
.sticker-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; /* 固定高度，防止變形 */
    width: 100%;  /* 確保貼紙寬度與其他貼紙一致 */
    background-color: #f5f5f5;
    border: 2px dashed #CC6B69; /* 虛線邊框 */
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.sticker-add:hover {
    filter: brightness(0.9);
}

.sticker-add-text {
    position: absolute;
    font-size: 14px;
    color: #CC6B69;
    z-index: 1; /* 保持文字在 + 號的上方 */
}

.sticker-add-icon {
    position: absolute;
    font-size: 50px; /* 大大的 + 號 */
    color: #f4c2c2;
    z-index: 0; /* 保持 + 號在文字下方 */
    opacity: 0.5; /* 調整透明度 */
}

.sticker-add-link {
    text-decoration: none; /* 移除連結下劃線 */
}

/* 模態框的背景遮罩 */
.modal-overlay {
    display: none; /* 預設隱藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 模態框內容 */
.modal-content {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* 左右箭頭 */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: #CC6B69;
    cursor: pointer;
}

.left-arrow {
    left: -35px;
}

.right-arrow {
    right: -35px;
}

/* 模態框貼紙內容 */
.modal-sticker {
    text-align: center;
}

.modal-sticker p {
    margin: 10px 0;
    font-size: 16px;
    color: #CC6B69;
}

.sticker-container {
    background-color: #fff;
    position: absolute;
    top: 20%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    color: #CC6B69;
    text-align: center;
}
.sticker-container input[type="text"] {
    width: 60%;
    /* padding: 5px; */
    margin: 5px 0;
    background-color: #f9eded;
    border: 1px solid #f4afae;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.sticker-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #CC6B69;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.sticker-container button:hover {
    background-color: #a85352;
}

.sticker-empty {
    position: absolute;
    width: 25%;
    top: 52%;
    left: 25%;
}
.form-group {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.sticker-container input::placeholder {
    color: rgb(187, 187, 187);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sticker-container input:focus::placeholder {
    opacity: 0;
}
.user-name {
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
}
/* 突出顯示當前用戶的貼紙 */
.sticker-highlight {
    background-color: #f6d3d3; /* 淡粉色背景 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 增加陰影 */
}

/* 高亮顯示當前用戶的模態框背景 */
.modal-highlight {
    background-color: #ffe4e1; /* 淡粉色背景 */
    border: 2px solid #cc6b69; /* 加粗邊框 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* 增加陰影 */
    transform: scale(1.05); /* 放大一點點 */
    transition: transform 0.2s ease-in-out; /* 平滑過渡 */
}

.arrow-up {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #CC6B69; /* 箭頭顏色 */
    z-index: 1001;
    animation: bounce 1s infinite; /* 添加箭頭上下跳動效果 */
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}
